html {
  height: 100%;
}

body {
  height: inherit;
  margin: 20px;
  background-color: white;
}

h1,h2,h3,h4,h5,h6 {
	text-align: center;
	font-weight: bold;
}
h1 {
	font-size: 20pt;
}
h5, h6 {
	margin-block: .4em;
}

.table {
	display: table;
	width: 100%;
}
.table .row {
	display: table-row;
}

.table .row .cell {
	display: table-cell;
}
input.cell {
	width: 100%;
}

cite:before, cite:after{
	content: '"';
}
.smaller {
	font-size: 0.7rem;
}

.version:after {
	content: ' css_V_1.19';
	font-size: 0.5rem;
}